{% load static %}
{% load l10n %}
{% include "partials/menu.html" %}

<h1 style="color: #fff; font-weight:bold">
    <center>{{ title }}</center>
</h1>
<table style="padding:5px" class="listagem_tabela">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome Completo</th>
            <th scope="col">Escolaridade</th>
            <th scope="col">Data Nascimento</th>
            <th scope="col">Contato</th>
            <th scope="col">Endereço</th>
            <th scope="col" ></th>
        </tr>
    </thead>
    <tbody>
        {% for candidato in candidatos %}
            <tr>
                <th> {{ candidato.id }} </th>
                <th> {{ candidato.nome_completo}} </th>
                <th> {{ candidato.escolaridade }} </th>
                <th> {{ candidato.data_nascimento }} </th>
                <th> {{ candidato.contato }} </th>
                <th> {{ candidato.endereco_rua}}, {{candidato.endereco_numero}}, {{candidato.endereco_cidade}}-{{candidato.endereco_estado}} </th>
                <th>
                    <center>
                        <a href="{% url "editcandidato" candidato.id%}"><img src="{% static "img/editar.png" %}" width="20px" scrset=""></a>
                    </center>
                </th>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="button_novo_candidato">
    <a href="{% url "cadcandidato" %}"><button class="novo_candidato">Cadastrar candidatos</button></a>
</div>

{% include "partials/final.html" %}