{% load static %}
{% include "partials/menu.html" %}

<h1 style="color: #fff; font-weight:bold">
    <center>{{ title }}</center>
</h1>
<table class="listagem_tabela">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Cargo</th>
            <th scope="col">Descrição</th>
            <th scope="col">Departamento</th>
            <th scope="col">Salário Base</th>
            <th scope="col">Requisito de Formação</th>
            <th scope="col"></th>
            
        </tr>
    </thead>
    <tbody>
        {% for cargo in cargos %}
            <tr>
                <th scope="row"> {{ cargo.id }} </th>
                <th> {{ cargo.cargo }} </th>
                <th> {{ cargo.descricao }}</th>
                <th> {{ cargo.departamento }} </th>
                <th> R$ {{ cargo.salario_base }} </th>
                <th> {{ cargo.requisito_formacao}} </th>
                <th> 
                    <center>
                        <a href="{% url "editcargo" cargo.id %}"><img src="{% static "img/editar.png" %}" width="20px"></a>
                    </center>    
                </th>    
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="button_novocargo">
    <a href="{% url "cadcargo" %}"><button class="novo_cargo">Cadastrar Cargo</button></a>
</div>

{% include "partials/final.html" %}