{% load static %}
{% include "partials/menu.html" %}

<h1 style="color: #fff; font-weight:bold">
    <center>{{ title }}</center>
    <br><br>
</h1>
<table class="listagem_tabela">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome completo</th>
            <th scope="col">Idade</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">CPF</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Categoria (CNH)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for funcionario in funcionarios %}
            <tr>
                <th scope="row"> {{funcionario.id}}</th>
                <th> {{ funcionario.nome_completo }} </th>
                <th> {{ funcionario.idade}} </th>
                <th> {{ funcionario.data_nascimento }} </th>
                <th> {{ funcionario.cpf }}</th>
                <th> {{ funcionario.estado_civil }}</th>
                <th> {{ funcionario.cnh }}</th>
                <th>
                    <center>
                        <a href="{% url "editfuncionario" funcionario.id%}"><img src="{% static "img/editar.png" %}" width="20px" scrset=""></a>
                    </center>
                </th>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="button_novofuncionario">
    <a href="{% url "cadfuncionario" %}"><button class="novo_funcionario">Cadastrar funcionário</button></a>
</div>

{% include "partials/final.html" %}