{% load static %}
{% include "partials/menu.html" %}

<h1 style="color: #fff; font-weight:bold">
    <center>Recrutamento</center>
</h1>
<table class="listagem_tabela">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Candidato</th>
            <th scope="col">Cargo</th>
            <th scope="col">Habilidade Técnicas</th>
            <th scope="col">Experiências</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for recrutamento in recrutamentos %}
            <tr>
                <th scope="row"> {{ recrutamento.id }} </th>
                <th> {{ recrutamento.nome_candidato}} </th>
                <th> {{ recrutamento.cargo }} </th>
                <th> {{ recrutamento.habilidades_tecnicas }}</th>
                <th> {{ recrutamento.experiencia_profissional }}</th>
                <th> 
                    <a style="padding-left: 7px; padding-right: 7px" href="{% url "editrecrutamento" recrutamento.id%}"><img src="{% static "img/editar.png" %}" width="20px" scrset=""></a>
                    <a style="padding-left: 7px; padding-right: 7px" href="{% url "deletrecrutamento" recrutamento.id%}"><img onclick="return confirmar_exclusao({{ recrutamento.id }})"src="{% static "img/excluir.png" %}" width="20px" scrset=""></a>
                <th>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="button_novo_recrutamento">
    <a href="{% url "cadrecrutamento" %}"><button class="novo_recrutamento">Cadastrar recrutamento</button></a>
</div>

{% include "partials/final.html" %}