{% include "partials/menu.html" %}

<div class="form_container">
    <center>
        <h1>
            Cadastro de Candidatos
            <br><br>
        </h1>

        <form method="post">
            {% csrf_token %}
            <label for="nome_completo">Nome Completo:</label>
            <input type="text" name="nome_completo" id="nome_completo">
            <label for="data_nascimeto">Data de Nascimento:</label>
            <input type="date" name="data_nascimeto" id="data_nascimeto">
            <label for="contato">Contato:</label>
            <input type="text" name="contato" id="contato">
            <label>Endereço:</label><label></label>
            <label for="endereco_rua">Rua:</label>
            <input type="text" name="endereco_rua" id="endereco_rua">
            <label for="endereco_numero">Numero:</label>
            <input type="text" name="endereco_numero" id="endereco_numero">
            <label for="endereco_cidade">Cidade:</label>
            <input type="text" name="endereco_cidade" id="endereco_cidade">
            <label for="endereco_estado">Estado:</label>
            <select name="select_endereco_estado" id="select_endereco_estado">
                {% for uf in ufs %}
                    <option value="{{ uf }}">{{ uf }}</option>
                {% endfor %}
            </select>
            <br><br>
            <button id="input_cad_candidato" type="submit">Enviar</button>
        </form>
    </center>
</div>

{% include "partials/final.html" %}