{% include "partials/menu.html" %}

<div class="form_container">
    <h1>
        <center>Cadastro de Funcionário</center>
        <br><br>
    </h1>

    <form method="post">
        <label for="nome_completo">Nome Completo:</label>
        <input type="text" name="nome_completo" id="nome_completo">
        <label for="idade">Idade:</label>
        <input type="number" name="idade" id="idade">
        <label for="data_nascimeto">Data de Nascimento:</label>
        <input type="date" name="data_nascimeto" id="data_nascimeto">
        <label for="cpf">Numero CPF:</label>
        <input type="text" name="cpf" id="cpf">
        <label for="estado_civil">Estado Civil:</label>
        <select name="estado_civil" id="estado_civil">
            <option value="solteiro(a)">Solteiro(a)</option>
            <option value="casado(a)">Casado(a)</option>
            <option value="divorciado(a)">Divorciado(a)</option>
            <option value="viuvo(a)">Viuvo(a)</option>
        </select>
        <label for="categoria_cnh">Categoria CNH:</label>
        <select name="categoria_cnh" id="categoria_cnh">
            <option value="nao_ha">Não Possui</option>
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="c">C</option>
            <option value="d">D</option>
            <option value="e">E</option>
            <option value="a_b">A e B</option>
            <option value="a_c">A e C</option>
            <option value="a_d">A e D</option>
            <option value="a_e">A e E</option>
            </select>
        </div>
    </form>
</div>