{% include "partials/menu.html" %}

<div class="form_container">
    <center>
        <h1>
            Cadastro de Recrutamento
            <br><br>
        </h1>

        <form method="POST">
            {% csrf_token %}
            <label for="nome_candidato">Candidato:</label>
            <select name="nome_candidato" id="nome_candidato">
                {% for nome in nome %}
                    <option value="{{ nome }}">{{ nome }}</option>
                {% endfor %}
            </select>
            <label for="cargo_escolhido">Cargo:</label>
            <select name="cargo_escolhido" id="cargo_escolhido">
                {% for cargo in cargos %}
                    <option value="{{ cargo }}"> {{ cargo }} </option>
                {% endfor %}
            </select>
            <label for="escolaridade">Escolaridade:</label>
            <select name="escolaridade" id="escolaridade">
                {% for escolaridade in escolaridades %}
                    <option value="{{ escolaridade }}">{{ escolaridade }}</option>
                {% endfor %}
            </select>
            <label for="habilidades">Habilidades técnicas:</label>
            <textarea type="text" name="habilidades" id="habilidades"></textarea>
            <label for="experiencias_pro">Experiências Profissionais:</label>
            <textarea type="text" name="experiencias_pro" id="experiencias_pro"></textarea>
            <br><br>
            <button id="input_cad_recrutamento" type="submit">Enviar</button>
        </form>
    </center>
</div>

{% include "partials/final.html" %}