{% include "partials/base.html" %}
{% include "partials/logo.html" %}

<nav class="menu">
    <ul>
        <li>
            <button class="button_menu"><a href="{% url "home" %}">Home</a></button>
        </li>
        <li>
            <button class="button_menu"><a href="{% url "funcionario" %}">Funcionários</a></button>
        </li>
        <li>
            <button class="button_menu"><a href="{% url "cargo" %}">Cargos</a></button>
        </li>
        <li>
            <button class="button_menu"><a href="{% url "recrutamento" %}">Recrutamento</a></button>
        </li>
        <li>
            <button class="button_menu"><a href="{% url "candidatos" %}">Candidatos</a></button>
        </li>
        <li>
            <button class="button_menu"><a href="{% url "cadcargo" %}">Cadastrar Cargos</a></button>
        </li>
        <li>
            <button class="button_menu"><a href="{% url "cadfuncionario" %}">Cadastrar funcionario</a></button>
        </li>
        <li>
            <button class="button_menu"><a href="{% url "cadrecrutamento" %}">Cadastrar recrutamento</a></button>
        </li>
        <li>
            <button class="button_menu"><a href="{% url "cadcandidato" %}">Cadastrar candidato</a></button>
        </li>
    </ul>
</nav>