{% include "partials/menu.html" %}

<h1 style="color: #fff; font-weight:bold">
    <center>Funcionário</center>
    <br><br>
</h1>
<table class="listagem_tabela">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome completo</th>
            <th scope="col">Idade</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">CPF</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Categoria (CNH)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"> 1 </th>
            <th> Leticia </th>
            <th> 20 </th>
            <th> 26/05/2004 </th>
            <th>154.695.845-20</th>
        </tr>
        <tr>
            <th scope="row"> 2 </th>
            <th> Leandro </th>
            <th> 23 </th>
            <th> 15/09/2000 </th>
            <th>154.697.845-20</th>
        </tr>
        <tr>
        <th scope="row">3</th>
            <th>Larry</td>
            <th>31</th>
            <th>14/04/1993</th>
            <th>154.295.865-20</th>
        </tr>
    </tbody>
</table>
<div class="button_novofuncionario">
    <a href="{% url "cadfuncionario" %}"><button class="novo_funcionario">Cadastrar funcionário</button></a>
</div>