{% include "partials/menu.html" %}

<h1>
    <center>Funcionário</center>
    <br><br>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome completo</th>
            <th scope="col">Idade</th>
            <th scope="col">Data de Nascimento</th>
            <th scope="col">CPF</th>
            <th scope="col">Estado Civil</th>
            <th scope="col">Possui CNH?</th>
            <th scope="col">Categoria (CNH)</th>
            <th scope="col">Admissão</th>
            <th scope="col">Desligamento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> 1 </th>
            <th> Leticia </th>
            <td> HTML, CSS </th>
            <td> 20 </th>
          </tr>
          <tr>
            <th scope="row"> 2 </th>
            <th> Leandro </th>
            <td> C#, .NET </th>
            <td> 23 </th>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>31</td>
          </tr>
        </tbody>
      </table>
</h1>