{% include "partials/menu.html" %}

<div class="form_container">
    <center>
        <h1>
            {{ title }}
            <br><br>
        </h1>

        <form method="POST">
            {% csrf_token %}
            <label for="nome_candidato">Candidato:</label>
            <select name="nome_candidato" id="nome_candidato">
                {% for candidato in candidato_recrutado %}
                    <option value="{{ candidato }}">{{ candidato }}</option>
                {% endfor %}
            </select>
            <label for="cargo_escolhido">Cargo:</label>
            <select name="cargo" id="cargo">
                {% for cargo in cargo_recrutado %}
                    <option value="{{ cargo }}"> {{ cargo }} </option>
                {% endfor %}
            </select>
            <label for="habilidades">Habilidades técnicas:</label>
            <textarea type="text" name="habilidades_tecnicas" id="habilidades_tecnicas">{{ recrutamento.habilidades_tecnicas }}</textarea>
            <label for="experiencias_pro">Experiências Profissionais:</label>
            <textarea type="text" name="experiencia_profissional" id="experiencia_profissional">{{ recrutamento.experiencia_profissional }}</textarea>
            <br><br>
            <button id="input_cad_recrutamento" type="submit">Enviar</button>
        </form>
    </center>
</div>

{% include "partials/final.html" %}